// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;

html {
    font-size: 62.5%;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    color: #fff;
    font-family: 'Poppins', sans-serif;

    &__nav {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    
        &__button i {
            color: #fff;
        }
    }

    &__section {

        &__a {
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
        }

    }

}