@import "partials/setup";
@import "partials/typography";

body {
    min-width: 360px; /* gotta stop this responsive madness somewhere and there is the smallest width I chose to target. */
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    min-height: 100%;
}

.main-header {
    background: #000 url(../images/main-image.png) no-repeat top center;
    background-size: cover;
    height: 100vh;
    min-height: 900px;

    .wrapper { 
        display: flex; /* Making the .wrapper flex here allows me to flex-grow on the splash text area so it fills the remiaining height under nav and above 100vh. */
        flex-direction: column;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 23px 0 27px 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.22);
        position: relative; /* Position: relative so that I can use absolute position on the after element double underline. */
        
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 2px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.22);
        }

        &__container {
            width: 28%; /* Spacing pulled off Adobe Assets */
        
            &__img {
                display: block;    /* Display:Block to get rid of ghost space around image */           
            }
        }

        &__ul {
            display: flex;
            align-items: center;
            height: 75%;
            padding: 0; /* Don't love normalize, I just end up removing the styles more then anything. */
            margin: 0; /* Don't love normalize, I just end up removing the styles more then anything. */
            justify-content: space-between;
            // align-items: center;
            // flex-wrap: wrap;
            flex-grow: 1;

            li {
                list-style: none;
            }
        }

        &__button {
            border-radius: 50%;
            border: none;
            background: #e85889;
            width: 44px;
            height: 44px;
            padding: 0;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        flex-grow: 1;

        & > * {
            margin: 0 0 20px 0;
            padding: 0;
        }

        &__a {
            // width: calc(214/1170*100%);
            // height: calc(52/(900 - 130)*100%);
            margin-top: 30px;
            width: 214px;
            line-height: 52px;
            background: #e85889;
            border-radius: 5px;
            text-align: center;
        }
    }
}

.countdown {

    background: #fafafa;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03);
    padding: 87px 0;
    
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .numbers {
            display: flex;
        }

        &__number {
            background-color:#333333;
            margin-right: 2px;
            border-radius: 5px;
            width: 37px;
            line-height: 45px;
            text-align: center;
        }

        &__a {
            display: inline-block;
            width: 178px;
            line-height: 52px;
            background: #e85889;
            border-radius: 5px;
            text-align: center;
            margin-left: 13px;
        }

        .colon {
            margin: 0 6px 0 4px;
            font-family: 'Poppins', sans-serif;
            color: #333333;
            font-size: 22px;
            font-weight: 300;
            line-height: 45px;
            letter-spacing: -0.7px;
        }

        .time-name {
            margin-top: 19px;
        }

    }

    .container1 {
        flex-direction: column;
        justify-content: center;
        width: 290px;

        p {
            margin-bottom: 17px;
        }

    }

    .container3 {
        justify-content: flex-end;
        align-items: flex-start;
    }
}

.about {
    padding: 151px 0;

    &__title, &__text {
        text-align: center;
    }

    &__text {
        margin: 20px 0 82px 0;
        position: relative;

        &::after {
            content: "";
            width: 63px;
            position: absolute;
            bottom: -32px;
            left: 50%;
            border-bottom: 1px solid #e85889;
            transform: translateX(-50%);
        }
    }

    .container-of-containers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .container {
        width: 367px;

        .text-container {
            padding: 43px 44px 43px 27px;
        }

        img {
            width: 100%;
            display: block;
        }

        p {
            margin: 22px 0 25px 0;
            line-height: 26px;
        }
    }

}

.join-our-event {
    padding: 113px 0;
    background-image: url(../images/Pattern.png);
    background-repeat: repeat;
    text-align: center;

    p {
        margin: 38px auto;
        line-height: 26px;
        width: 75%;
    }
    
    form {
        display: flex;
        justify-content: center;
    }

    input:nth-of-type(1) {
        border-radius: 5px 0 0 5px;
        border: solid 1px #fff;
        border-right: none;
        background-color:rgba(70, 63, 140, 0);
        width: 360px;
        height: 51px;
        padding-left: 25px;
        flex-shrink: 1;
    }

    input:nth-of-type(2) {
        background-color:#e85889;
        width: 174px;
        height: 51px;
        border: none;
        border-radius: 0 5px 5px 0;   
    }
    
}

.event-speakers {
    padding: 151px 0;
    text-align: center;
    
    .text-blurb {
        margin: 20px 0 87px 0;
        position: relative;

        &::after {
            content: "";
            width: 63px;
            position: absolute;
            left: 50%;
            bottom: -32px;
            border-bottom: 1px solid #e85889;
            transform: translateX(-50%);
        }
    }

    .container-of-containers {
        display: flex;
        justify-content: space-between;

        .container {
            text-align: center;
            box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
            border-radius: 5px;
            overflow: hidden;/* This hides the corners of the image so they round with the div. */

            img {
                width: 270px;
                display: block;
                margin-bottom: 23px;
            }
            
            p:nth-of-type(2) {
               margin-bottom: 23px;
            }

        }
    }

    .dot {
        background: #463f8c;
        height: 11px;
        width: 11px;
        border-radius: 50%;
        display: inline-block;
        margin-top: 54px;
    }
   
    .dot2 {
        background:  #e85889;
        border: 1px solid #fff;
        box-shadow: 0 0 0 1px #e85889;
    }
}

.quotes {
    padding: 155px 0;
    background: #463f8c;

    .wrapper {
        display: flex;
    }

    .pictures {
        margin-right: 107px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .quote-title, .quote-text {
        width: 425px;
        position: relative;
    }

    img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        display: block;

        &:nth-child(1){
            box-sizing: content-box;
            border: 6px solid #ececec;
        }
    }

    .quote-title:before {
        content: "“";
        font-family: PlantagenetCherokee;
        color:#fafafa;
        font-size: 110px;
        font-weight: 400;
        line-height: 26px;
        position: absolute;
        top: 0;
        left: -29px;
        transform: translate(-100%, 100%);
    }

    .quote-text {
        margin: 32px 0 36px 0;
    }
}

.pricing {
    background: url(../images/pricing-image.png) no-repeat top center;
    padding: 160px 0 110px 0;
    text-align: center;

    & .wrapper > p {
        margin: 20px 0 84px 0;
    }

    .container-of-containers {
        background-color:#fff;
        box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
        padding: 30px;
        display: flex;

        .container {
            background: #fafafa;
            border: 1px solid #ececec;
            padding: 52px 0;
            position: relative;
            overflow: hidden;

            .banner {
                position: absolute;
                display: block;
                padding: 10px 30px;
                background: #463f8c;
                right: 0;
                transform: translate(25%, -100%) rotate(45deg);                
            }

            .plan-type {
                margin: 17px 0 58px 0;
                position: relative;
            
                &::after {
                    content: "";
                    width: 34px;
                    position: absolute;
                    left: 50%;
                    bottom: -17px;
                    border-bottom: 1px solid #463f8c;
                    transform: translateX(-50%);
                }
            }

            ul {
                margin: 38px 0 20px 0;
            }
            li {
                padding: 18px 68px;
                border-top: 1px dashed #e0e0e0;
                
            }

            a {
                background-color: #e85889;
                width: 178px;
                line-height: 52px;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
                
            }
        }
    }
}

.event-schedule {
    margin-left: 3px;
    padding: 181px 0 106px 0;
    text-align: center;
    background: #fafafa;

    .container-of-containers,  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        
        .sched {
            ul {
                border: solid 1px #ececec;
                background-color: #fff;
                width: 281px;
                list-style: none;

                li {
                    padding: 23px 29px;
                    border-bottom: solid 1px #ececec;
                    
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
        }

        .container {
            padding-left: 58px;
            display: flex;
            flex-direction: column;
            position: relative;

            &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 335px;
                    border-left: 1px dashed #777;
                    top: 51px;
                    left: -2px;
            }

        }

        .profile {
            display: flex;
            
            
            img {
                width: 82px;
                height: 82px;
                border-radius: 50%;
                border: solid 7px #ececec;
                box-sizing: content-box;
                margin-right: 35px;
                display: block;
            }

            .img-box {
                position: relative;
            }

            .img-box::before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 48px;
                    width: 31px;
                    border-bottom: 1px dashed #777;
                    left: -28px;
                    transform: translate(-100%, -50%);
            }


            .text-container {
                font-family: 'Raleway', sans-serif;
                max-width: 650px;

                .author {
                    color: #222222;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;
                }

                .time {
                    margin-left: 20px;
                    color:#777777;
                    font-size: 13px;
                    font-weight: 400;
                }

                .title {
                    color:#222222;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                }

                .blurb {
                    font-family: 'Poppins', sans-serif;
                    color:#666666;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
        
        .profile2 {
            margin: 66px 0;
        }
    }

    .text {
        margin: 20px 0 87px 0;
        position: relative;

        &::after {
            content: "";
            width: 63px;
            position: absolute;
            left: 50%;
            bottom: -32px;
            border-bottom: 1px solid #e85889;
            transform: translateX(-50%);
        }
    }
}

.latest-news {

    padding: 151px 0;

    .text {
        margin: 20px 0 87px 0;
        position: relative;

        &::after {
            content: "";
            width: 63px;
            position: absolute;
            left: 50%;
            bottom: -32px;
            border-bottom: 1px solid #e85889;
            transform: translateX(-50%);
        }
    }

    .container-of-containers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .container {
            // width: calc(370/1170 * 100%);
            width: 370px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;

            img {
                display: block;
                text-align: center;
            }

            &2,&4,&5,&6 {
                padding: 42px 37px;
                background: #fafafa;
            }

            &4, &5 {
                margin-top: 30px;
            }

            &2 {

                // width: calc(100% - (370*300/1170/2) + 370px);
                // width: calc((370/1170 + ((1 - (370*3/1170))/2))* 100%);
                width: 400px;
                margin-right: auto;
            }

            &3 {

                img {
                    margin-left: auto;
                }
            }

            &5 {
                background: linear-gradient(#463f8c, #463f8c 50%, #fafafa 50%, #fafafa);
                margin-right: auto;
                margin-left: 30px;
                align-items: center;

                a {
                    align-self: flex-start;
                }

                img {
                    margin-bottom: 31px;
                }
            }

            &6 {
                height: 330px;
                padding-top: 30px;
            }
            a {
                border-radius: 5px;
                background-color:#e85889;
                width: 152px;
                line-height: 44px;
                display: block;
                text-align: center;
                margin-top: auto;
            }

            .blurb {
                margin-top: 38px;
            }
        }
    }
}


.newsletter {
    background: url(../images/Pattern2.png);
    background-repeat: repeat;
    text-align: center;
    padding: 104px 0;

    h2 {
        margin-bottom: 34px;
    }

    input[type="email"] {
        background-color: #ffffff;
        width: 621px;
        line-height: 48px;
        border: none;
        border-radius: 2px;
        margin-right: 15px;
        padding-left: 30px;
    }

    input[type="submit"] {
        background-color:#e85889;
        width: 160px;
        line-height: 48px;
        border-radius: 2px;
        border: none;
    }
}

.contacts {
    padding: 40px 0;
    background: #1b1b1b;
    position: relative;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .container {
        width: calc(100%/3);
        display: flex;

        p {
            width: 222px;
        }
     }

    .container2 {
        border-left: 1px solid rgba(88, 88, 88, 0.58);
        border-right: 1px solid rgba(88, 88, 88, 0.58);
        justify-content: center;

        p {
            width: 120px;
        }
    }

    .container3 {
        justify-content: right;
        p {
            width: 150px;
        }
    }

    .icon {
        border-radius: 50%;
        background-color: #2f2f2f;
        width: 58px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 36px;
    }

    &::after {
        content: "";
        position: absolute;
        border-bottom: #000 25px solid;
        border-right: 25px solid transparent;
        border-left: 25px solid transparent;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

footer {
    padding: 47px 0 90px 0;
    background: #000;
    text-align: center;
    position: relative;

    ul {
        display: flex;
        list-style: none;
        width: 613px;
        justify-content: space-between;
        margin: 0 auto 27px auto;
        padding: 40px 0;
        border-bottom: 1px solid #1b1b1b;
    }

    &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 800;
        content: "\f106";
        position: absolute;
        left: 50%;
        top: 0;
        color: #fff;
        display: inline-block;
        transform: translate(-50%, -50%);

    }

}


// *********** HOVER STATES ***********

.cool-hover-effect:hover {
    background: #463f8c !important; /* This is because I ran into HUGE specficity issues using SASS for the first time and am slapping classes on for hover states at the last minute. I know this is probably frowned upon. Desperate times calls for desperate measures. I would generally not use !important in normal cases. */
    box-shadow: 0 0 30px #463f8c !important; 
    p {
        color: #fff;
    }
}

.cool-hover-effect-2:hover {
    color: #463f8c !important; 
}
.cool-hover-effect-3:hover {
    border: 1px solid #e85889 !important; 
    box-shadow: 0 0 30px #e85889 !important;
}

.event-schedule {
    .wrapper {
        .container-of-containers{
            .sched ul li:hover {
                background: #e85889;
                p {
                color: #fff;
                }
            }
        }
    }
}

nav {
 ul{
     li a:hover {
         color: #e85889;
     }
 }
}



@media (max-width: 1156px) {

  .latest-news {
      padding: 121px 0;
    .container-of-containers {
        .container {
            width: 50%;
            height: 300px;
            margin: 0 0 20px 0;
            
            &1 {
                order: 1;

            }

            &2 {
                order: 2;
            }

            &3 {
                order: 3;
            }

            &4 {
                order: 6;
            }

            &5 {
                order: 5;
            }
            &6 {
                padding-top: 42px;
                order: 4;
            }

            &.container5 img {
                margin-bottom: 31px;
            }

            img {
                object-fit: contain;
                margin: 0;
            }
        }
    }
  }

  .event-schedule {
    padding-top: 106px;
    .container-of-containers{
        flex-direction: column;

        .sched {
            width: 100%;
            margin-bottom: 75px;

            ul {
                width: 100%;
                display: flex;
                border-right: none;

                li {
                    border-bottom: none;
                    width: 25%;
                    text-align: center;
                    border-right: solid 1px #ececec;
                }
            }
        }
    }
  }

}

@media (max-width: 1117px) {
    .about {
        .container-of-containers{
            flex-direction: column;
            align-items: center;
            .container {

                width: 75%;
                
                &.container2 {
                    margin: 50px;
                }
            }
        }
    }

    .pricing {
        .container-of-containers {
            flex-direction: column;
            width: 75%;
            margin: 0 auto;
            .container2 {
                margin: 50px 0;
            }

            .container {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    
                    li {
                        width: 50%;
                        border: none;
                    }

                    li:nth-of-type(2n) {
                        border-left: 1px dashed #e0e0e0;
                    }

                    li:nth-of-type(1), li:nth-of-type(2){
                        border-bottom: 1px dashed #e0e0e0;
                    }
                }
            }

        }
    }

    .event-speakers {
        .container-of-containers {
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
            .container {
                margin: 0 auto;
                width: 45%;

                &1, &2 {
                    margin-bottom: 20px;
                }
                img {
                    width: 100%;
                }  
            }
        }
    }

    .countdown {
        text-align: center;
        padding: 57px 0;
        .wrapper {
            flex-direction: column;
            align-items: center;

            .container2 {
                margin: 30px 0;
                text-align: left;
            }
            .container3 {
                flex-direction: column;
                a {
                    margin: 0;

                    &:first-of-type{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .newsletter {
        .wrapper {
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 850px) {
   .main-header {
        .wrapper {
            .main-header__nav {
                flex-direction: column;
                align-items: initial;
                .main-header__nav__container {
                    width: auto;
                    img {
                        margin: 0 auto;
                    }
                }
                .main-header__nav__ul {
                    height: auto;
                    margin-top: 25px;
                }
            }
        }
    }

    .event-schedule {
        .container-of-containers {
            .container {
                padding: 0;
                &::before {
                    display:none;
                }

                .img-box::before {
                    display: none;
                }
            }
        }
    }
    .newsletter {
        .wrapper {
            form {
                input:first-of-type {
                    width: 75%;
                }
            }
        }
    }

    .contacts {
        .wrapper {
            flex-direction: column;
            align-items: center;
            .container {
                width: auto;
                justify-content: initial;

                p {
                    width: 150px;
                }
                &2.container {
                    // align-self: center;
                    border: none;
                    margin: 20px 0;
                }
            
            }
        }
    }

    .quotes {
        padding: 130px 0;
        .wrapper {
            flex-direction: column;
            .pictures {
                flex-direction: row;
                margin: 0 0 50px 0;

                img {
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }

    footer {
        ul {
            width: 90%;
            margin: 0 auto 27px auto;

        }
    }
}


@media (max-width: 715px) {

    .pricing .container-of-containers .container ul li:nth-of-type(1), .pricing .container-of-containers .container ul li:nth-of-type(2) {
        border-bottom: none;
    }

    .pricing .container-of-containers .container ul li:nth-of-type(2n) {
        border-left: none;
    }

    .pricing .container-of-containers .container ul li {
        width: 100%;
        border: none;
        border-top: 1px dashed #e0e0e0;
    }

}

@media (max-width: 650px) {

    .latest-news {
        .wrapper {
            .container-of-containers {
                .container {
                    width: 90%;
                    margin: 0 auto 20px auto;
                }
            }
        }
    }

    .main-header {
        .wrapper {
            .main-header__nav {
                flex-direction: row;
                
                .main-header__nav__container {
                    margin: 0 auto 20px auto;
                }

                .main-header__nav__ul {
                    flex-direction: column;
                    margin: 0;
                    height: 150px;
                    flex-wrap: wrap;
                    flex-grow: 0;
                    width: 100%;
                    li {
                        line-height: calc(75px/2);

                        &:last-of-type {
                            display: flex;
                            height: 100%;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .quotes {
        .wrapper{
            .text > * {
                width: 80%;
            }
        }
    }

    .join-our-event {
        .wrapper{
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    &:first-of-type{
                        border: 1px solid #fff;
                    }
                    border-radius: 5px;
                }
            }
        }
    }

    .event-schedule {
        .wrapper{
            .container-of-containers {
                .sched {
                    ul {
                        flex-wrap: wrap;
                        li {
                            width: 50%;

                            &:nth-of-type(1) {
                                border-bottom: solid 0.5px #ececec;
                                border-right: solid 0.5px #ececec;
                            }

                             &:nth-of-type(2) {
                                border-bottom: solid 0.5px #ececec;
                                border-left: solid 0.5px #ececec;
                            }

                             &:nth-of-type(3) {
                                border-top: solid 0.5px #ececec;
                                border-right: solid 0.5px #ececec;
                            }

                            &:nth-of-type(4) {
                                border-top: solid 0.5px #ececec;
                                border-left: solid 0.5px #ececec;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .countdown .wrapper .container2 {
        flex-direction: column;
        & > div {
            display: flex;
            margin-bottom: 10px;
            .colon {
                display: none;
                
            }
    }
}

footer ul {
    flex-wrap: wrap;
    li{
        width: calc(100%/3);
        margin: 5px 0;
    }
}
}